/* 상단 login 파트 */
	
	.modal-div{
		background-color: white;
		text-align: right;
		float:right;
		display:relative;
		left:0px;
		top:0px;
	}
	.login-form{
  		text-align: left;
  	}
  	
  	.login-form div{
  		width: 400px;
  		margin: 20px;
  	}
  	
	
  	
  	.form-group{
  		text-align: left;
  		width : 400px;
  	}
  	
  	.modal-div header{
  	display:relative;
		left:0px;
		top:0px;
  	}
  	  .container content, .container aside {
    position: relative;
  }
  .custom-header{
  overflow: hidden;
  }
  .header-right{
  clear:left;
  	float: right;
  }
  
  .pv-div > #pw-msg{
  	text-align: left;
  }
  
/*   중단파트 */
  figure {
    width: 100%;
    position: relative;
    
  }
  
  figure img {
    display: block;
    width: 100%;
    height: auto;
  } 
  figure h4 {
    position: absolute;
    top: calc(0%);
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
 
    margin: 0;
    text-align: center;
    vertical-align: middle;
  } 
  figure .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    vertical-align: middle;

  }
  figure .overlay .description {
<<<<<<< HEAD
    font-size: 20px;
    position: relative;
=======
/*     font-size: 20px; */
    position: absolute;
/* >>>>>>> branch 'master' of https://lab.ssafy.com/shining8543/0312_pair_project.git */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     text-align: center; 
  }
  
  figure:hover h4 {
    display: none;
  } 
  figure:hover .overlay {
    display: block;
    height: 100%; 
  }
  
  #input-serach{
  	margin-right: 40px;
  }
  
  #city,#gu,#dong{
  	height: 48px;
  	margin-right: 2px;
  	display: relative;
  }
  
  
  	
  	
